// @import "tailwindcss";
/* @debug "is this file being loaded?";*/

@mixin text-highlight($color) {
  color: rgb(var(--v-theme-on-$color));
  background: rgb(var(--v-theme-$color));
  box-shadow: inset 0px 0px 0px 0.5px rgb(var(--v-theme-surface));
}

.open-menu {
  max-width: 260px;
  height: fit-content;
  box-shadow: -2px 6px 6px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.menu-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.font-mono {
  font-family: 'roboto mono';
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2.5px;
}

.app-container {
  width: 1400px;
  margin-inline: auto;
  // padding-inline: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.board-container {
  max-width: 990px;
  min-width: 700px;
  padding-top: 120px;
  margin-inline: auto;
}

.timer-container {
  top: 80px;
}

.area-container {
  height: 300px;
  max-height: 800px;
  overflow: hidden;
}

.stats-container {
  width: 100%;
}

.cursor {
  @include text-highlight(primary);
  animation: 0.7s steps(2, jump-none) 0s infinite forwards blinking; 
}

.right {
  @include text-highlight(secondary);
}

.wrong {
  @include text-highlight(error);
}

.inset-shadow {
  box-shadow: inset 0px 0px 2px 0.5px darkgrey;
}

.hidden {
  visibility: hidden;
}

@keyframes blinking {
  from {
    color: rgb(var(--v-theme-on-primary));
    background: rgb(var(--v-theme-primary));
  }
  
  to {
    color: rgb(var(--v-theme-on-background));
    background: transparent;
  }
}
