/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );
// @use 'vuetify' with (
//   $body-font-family: 'Roboto',
// );

// @use "tailwindcss";
@use 'vuetify/settings' with (
  $layers: true,
);
@use 'main'
