services:
  db:
    image: postgres
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
      DB_PORT:
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB} -p ${DB_PORT}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    ports:
      - "${DB_PORT}:${DB_PORT}"
    command: -p ${DB_PORT}

  api:
    build:
      target: api
    environment:
      DB_USER:
      DB_PASS:
      DB_NAME:
      DB_PORT:
      API_PORT:
      ENV:
    depends_on:
      db:
        condition: service_healthy
        restart: true
      migrate:
        condition: service_completed_successfully
    ports:
      - "${API_PORT}:${API_PORT}"

  migrate:
    build:
       target: migrate
    environment:
      DB_USER:
      DB_PASS:
      DB_NAME:
      DB_PORT:
    depends_on:
      db:
        condition: service_healthy
        restart: true
